.menu-item {
	min-width: 35%;
	height: 55vh;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	margin: 0 2.5px 5px;
	overflow: hidden;
	font-family: "Rock Salt";
	position: relative;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px;

	&:hover {
		cursor: pointer;

		& .background-image {
			transform: scale(1.2);
			transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
			filter: brightness(125%);
		}

		& .content {
			opacity: 0.8;
		}
	}

	&.large {
		height: 30vh;
	}

	&:first-child {
		margin-right: 7.5px;
	}

	&:last-child {
		margin-left: 7.5px;
	}

	.background-image {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: 25% 25%;
		filter: brightness(125%);
		box-shadow: rgba(50, 50, 93, 0.5) 0px 30px 60px -12px inset,
			rgba(0, 0, 0, 0.8) 0px 18px 36px -18px inset;
	}

	.content {
		height: 6vh;
		padding: 0 2px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid rgb(1, 35, 73);
		background-color: rgb(235, 246, 250);
		opacity: 0.8;
		position: absolute;
		//
		// width: 12%;
		overflow: hidden;

		bottom: 25px;

		border-radius: 2px;

		.title {
			font-weight: 700;
			margin: 0 6px 0;
			font-size: 2vh;
			color: #034d5a;
			opacity: 1;
		}

		.subtitle {
			font-weight: lighter;
			font-size: 1.5vh;
		}

		&:hover {
			cursor: pointer;

			& .title,
			.subtitle {
				transform: scale(1.1);
				transition: transform 0.25s cubic-bezier(0.25, 0.45, 0.45, 0.95);
				// opacity: 0.6;
			}
		}
	}
}
